<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dropdown</title>
</head>
<body>
<!--<h1><a href="{{ url_for('items')}}"> Items </a></h1>
<h1><a href="{{ url_for('characters', account=form.account) }}"> Characters </a></h1>-->


    <h1>Sign In</h1>
<form method="POST" action="/verify">
        {{ form.hidden_tag() }}
        <p>
            {{ form.account.label }}<br>
            {{ form.account(size=32) }}<br>
            {% for error in form.account.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.poesessid.label }}<br>
            {{ form.poesessid(size=32) }}<br>
            {% for error in form.poesessid.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

            {{ form.verify() }}

            {% if verified == True %}
             <span style="color: green;">[Verified]</span>
        {% else %}
            <span style="color: red;">[Error]</span>
        {% endif %}



        <p>
            {{ form.league.label }}<br>
            {{ form.league() }}<br>
        </p>
        </form>

<form method="GET" action="/characters">
        <p>{{ form.characters() }}</p>
</form>
<form method="GET" action="/items">
        <p>{{ form.items() }}</p>
</form>

        <p>
            {{ form.tabs.label }}<br>
            {{ form.tabs(size=32) }}<br>
            {% for error in form.account.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>


</body>
</html>