{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block content %}

<!--the form tag MUST encapsule all fields that are to be sent in the request?-->
<form method="POST" action="/verify">
    {{ form.hidden_tag() }}

    <p>
        {{ form.account.label }}<br>
        {{ form.account(size=32) }}<br>
    </p>

    <p>
        {{ form.poesessid.label }}<br>
        {{ form.poesessid(size=32) }}<br>
    </p>

    {{ form.verify() }}

    {% if verified == True %}
        <span style="color: green;">[Verified]</span>
    {% else %}
        <span style="color: red;">[Error]</span>
    {% endif %}
</form>

{% endblock %}