<!DOCTYPE html>
<html>

<head>
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/myTable.css') }}">

    <!-- Include Twitter Bootstrap and jQuery: -->
    <!--<link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">-->
    <!--<link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='css/bootstrap-multiselect.css') }}">-->

    <!--Choosen2 Drop Down filter control-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

    <meta charset=utf-8 />
    <title>Items</title>
</head>

<body>



    <button type="button" onclick=getData()>GetData</button>

    <div id="container2">
        <div id="content2">
            <select data-placeholder="Affix search use ctrl to select multiple affixes" class="mySelect2" name="states[]" multiple="multiple" style="width: 50%">
                {% for item in data["result"] %}
                    <optgroup label={{ item['label'] }}>
                    {% for entry in item['entries'] %}
                        <option value={{ entry['id'] }}>{{ entry['text'] }}</option>
                    {% endfor %}
                    </optgroup>
                {% endfor%}
            </select>
        </div>
    </div>
    <button type="button" onclick=submit()>Submit</button>

    <!--<button onclick="getData()">filter</button>-->

<!--

    <div class="container">
        <table id="myTable" class="display nowrap cell-border" width="100%">
        </table>
    </div>
-->

    <div class="container">
        <!--  <table id="example1" class="display nowrap cell-border"></table> -->
        <!-- overflow-x: scroll; overflow-y: scroll; = scroll bars *within* page -->
        <table id="example" class="display  cell-border" style="overflow-x: scroll; max-width: 90%; display: block; " cellspacing="0">
            <thead>
					<tr>
						<th>Name</th>
					</tr>
				</thead>

				<tfoot>
					<tr>
						<th>Name</th>
					</tr>
				</tfoot>
        </table>
    </div>


    <!-- to use version from web
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
        -->


    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/myTable.js') }}"></script>

    <!--<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-multiselect.js') }}"></script>-->

    <!--Choosen2 Drop Down filter control-->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- Initialize the plugin: -->
    <!--<script type="text/javascript">
        $(document).ready(function() {
            $('#example-getting-started').multiselect();
        });
    </script>-->


</body>
</html>