<!DOCTYPE html>
<html>

<head>
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/myTable.css') }}">

    <meta charset=utf-8 />
    <title>DataTables - JS Bin</title>
</head>

<body>
    <button onclick="getDataFile()">Data From File</button>
    <button onclick="getData()">Data From Object</button>

    <div class="container">
        <table id="example" class="display nowrap cell-border" width="100%">
        </table>
    </div>

    <div class="container">
        <table id="example2" class="display nowrap cell-border">
        </table>
    </div>

    <!-- to use version from web
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
        -->

    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/myTable.js') }}"></script>

</body>

</html>